html{
  height: 100%;
  width: 100%;
}

body{
  font-family: 'Ubuntu', sans-serif;
}

.main-img-header{
  margin-top: 50vh;
  position: absolute;
}

.header-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.masthead-logo{
  margin-top: 20vh;
  @media only screen and (max-width: 600px) {
    width: 100%;
  }
}

.nav-link{
  font-size: 1.3rem !important;
  color: #f9d5e5 !important;
}

@media only screen and (max-width: 600px) {
  .nav-custom{
    background-color: #c83349;
  }
  .nav-item:hover{
    background-color: #e06377;
  }
  .nav-link{
    font-size: 2rem !important;
  }
}

.nav-window{
  background: rgb(200, 51, 73) !important;
}

.nav-link:hover{
  color: #DFBBB1 !important;
}

.navbar-brand-logo{
  max-width: 5rem;
  margin-top: 0.5rem;
}

/****** Particles.js container *****/
#particles-js{
  width: 100%;
  height: 100.1vh;
  background-color: #F85C70;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 600px) {
  #particles-js{
    width: 100vh;
    height: 100vh;
  }
  .main-img-header{
    position: absolute;
    margin-top: 50vh;
    max-width: 50rem;
  }
  .fa-bars{
    font-size: 3rem;
  }
  .navbar-brand-logo{
    height: 4rem;
    width: 7rem;
  }
}

/***** Services ******/
section{
  padding: 60px 0;
}

section .section-title{
  text-align:center;
  color: #F85C70 !important;
  margin-bottom:50px;
  text-transform:uppercase;
}

@media only screen and (max-width: 600px) {
  #what-we-do{
    width: 100vh;
  }
}

#about{
  background: #ffffff;
}

@media only screen and (max-width: 600px) {
  #about{
    width: 100vh;
  }
}

#about .card{
  padding: 1rem!important;
  border: none;
  margin-bottom:1rem;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}

.card:hover{
  cursor: pointer;
  -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

#about .card .card-block{
  padding-left: 50px;
  position: relative;
}

#about .card .card-block a{
  color: #F85C70 !important;
  font-weight:700;
  text-decoration:none;
}

#about .card .card-block a i{
  display:none;

}

#about .card:hover .card-block a i{
  display:inline-block;
  font-weight:700;

}

#about .card .card-block:before{
  font-family: FontAwesome;
  position: absolute;
  font-size: 39px;
  color: #F85C70;
  left: 0;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition:transform .2s ease-in-out;
}

#about .card .block-1:before{
  content: "\f105";
}

#about .card .block-2:before{
  content: "\f105";
}

#about .card .block-3:before{
  content: "\f105";
}

#about .card .block-4:before{
  content: "\f105";
}

#about .card .block-5:before{
  content: "\f105";
}

#about .card .block-6:before{
  content: "\f105";
}

@media only screen and (max-width: 600px) {
  #Curiosidades{
    width: 100vh;
  }
}

.counter {
  padding: 20px 0;
}

.count-title {
  font-size: 40px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

.count-text {
  font-size: 13px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

.fa-2x {
  margin: 0 auto;
  float: none;
  display: table;
  color: #F85C70;
}

/****** Os nossos espaços ******/
#espacos {
  background: #eee !important;
}

@media only screen and (max-width: 600px) {
  #espacos{
    width: 100vh;
  }
}

section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: #F85C70;
  margin-bottom: 50px;
  text-transform: uppercase;
}

#espacos .card {
  border: none;
  background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.mainflip {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.frontside {
  position: relative;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
  margin-bottom: 30px;
}

.backside {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
  min-height: 312px;
}

.backside .card a {
  font-size: 18px;
  color: #F85C70 !important;
}

.frontside .card .card-title,
.backside .card .card-title {
  color: #F85C70 !important;
}

.frontside .card .card-body img {
  width: 15rem;
  height: 10rem;
  border-radius: 10px;
}

/****** Subscrever ******/
.subscrever{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 600px) {
  .subscrever{
    width: 100vh;
  }
}

.col-center{
  float: none;
  margin: 0 auto;
}

.subscrever-head h2 {
  color: #F85C70;
  font-size: 2.5rem;
  letter-spacing: 0;
  line-height: 30px;
  margin: 0 0 13px;
  text-transform: uppercase;
}

.subscrever-head p {
  color: #6c757d;
  font-size: 1.25rem;
}

.subscrever-head {
  text-align: center;
}

.subscrever-form input[type="email"] {
  padding-left: 20px;
  border-radius: 25px;
  border-color: #F85C70;
  font-size: 16px;
  font-style: normal;
  height: 51px;
  letter-spacing: 0;
  text-align: left;
  width: 460px;
}

@media only screen and (max-width: 600px) {
  .subscrever-form input[type="email"] {
    height: 51px;
    width: 300px;
  }
}

.subscrever-form input[type="email"]:focus{
  outline: none;
  border-color: #c83349;
}

.subscrever-form input[type="submit"] {
  background: #F85C70;
  border: 0 none;
  border-radius: 25px;
  color: #f9d5e5;
  height: 51px;
  letter-spacing: 0;
  margin-left: -60px;
  padding: 0 58px;
}

@media only screen and (max-width: 600px) {
  .subscrever-form input[type="submit"] {
    height: 51px;
    margin-left: -60px;
    padding: 0 40px;
  }
}

.subscrever-form input[type="submit"]:hover{
  outline: none;
  cursor: pointer;
  background: #c83349;
  color: #f9d5e5;
}

.subscrever-form input[type="submit"]:focus{
  outline: none;
  cursor: pointer;
}

/****** Footer ******/

@media only screen and (max-width: 600px) {
  .page-footer{
    width: 100vh;
  }
}

.page-footer{
  background-color: #eee;
}

.social-networks:hover{
  cursor: pointer;
}

.social-networks{
  color: #F85C70;
}